html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans;
    color: #FBFBFE;
}

body {
    display: grid;
    place-items: center;
    background-color: #2B2A33;
    min-height: 100vh;
}

.container {
    display: flex;
    background-color: #1C1B22;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 85vh;
    margin: 15vh 0 0 0;
}