html, body {
    margin: 0;
    padding: 0;
    font-family: "Life Savers", serif;
    color: #FBFBFE;
}

body {
    display: grid;
    place-items: center;
    background-color: #362E2E;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    height: 81vh;
    background-color: #413535;
    text-align: center;
}


.container input, button, h2 {
    height: 10%;
    width: 50%;
    padding: 5px;
    margin: 2%;
}

.container button {
    background-color: #252323;
    font-size: 30px;
    color: #FBFBFE;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
    width: 31%;
    height: 8%;
    margin: 10% 0 10% 0;
}

.container h2 {
    font-size: 37px;
    font-weight: 100;
    height: 5%;
    padding: 5px;
}

.container input, textarea {
    width: 72%;
    height: 8%;
    margin: 5% 0 5% 0;
    border-radius: 5px;
}

.container textarea {
    resize: vertical;
}

.container button:hover {
    border: 2px solid #0A84FF;
}

.row-container {
    display: flex;
    width: 74%;
    height: 10%;
    flex-direction: row;
    justify-content: center;
}

.row-container input {
    padding: 0;
    margin: 0;
    width: 75%;
    height: 78%;
    float: left;
    margin: 0 20px 0 20px;
}

.row-container button {
    padding: 0;
    margin: 0;
    font-size: 12px;
    width: 15%;
    height: 100%;
    float: right;
}

.horizontal-line {
    margin: 0;
    width: 100%;
    border-top: 1px solid #674E4E;
    margin-bottom: 5%;
}

.life-savers-regular {
  font-family: "Life Savers", serif;
  font-weight: 400;
  font-style: normal;
}

.life-savers-bold {
  font-family: "Life Savers", serif;
  font-weight: 700;
  font-style: normal;
}

.life-savers-extrabold {
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-style: normal;
}
