html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans;
    color: #FBFBFE;
}

body {
    display: grid;
    place-items: center;
    background-color: #2B2A33;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 60vh;
    background-color: #1C1B22;
    text-align: center;
    overflow-y: scroll;
}

.container button {
    background-color: #42414D;
    color: #FBFBFE;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
}

.container textarea {
    resize: vertical;
}

.container input, button, h2, textarea, div {
    height: 10%;
    width: 50%;
    padding: 5px;
    margin: 2%;
}

.container h2 {
    font-weight: 100;
}

.container input, textarea {
    width: 48%;
}

.container button:hover {
    border: 2px solid #0A84FF;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-container input {
    width: 75%;
    height: 78%;
    margin-right: 2.5%;
}

.row-container button {
    width: 15%;
    height: 100%;
    margin-left: 2.5%;
}