<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="about/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Life+Savers:wght@400;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="top-bar">
            <div class="left">
                <h2>
                    <a href="/portfolio">Projects</a>
                </h2>
                <h2>
                    <a href="/about">About</a>
                </h2>
            </div>
            <div class="right">
                <h2>
                    <a href="/contact">Contact</a>
                </h2>
            </div>
        </div>
        <div class="container">
            <img src="https://github.com/rustleupchef/images/blob/main/dog.jpeg?raw=true" alt="profile">
            <div>
                <h2>About Me</h2>
                <br>
                <p>I am a student located in Houston, TX. I am trying to push my work towards web backend engineering, and enabling the youth for problem solving skills and computer science skills. Accesiblity is the my number one priority</p>
            </div>
        </div>
    </body>
</html>