<!DOCTYPE html>
<html>
    <head>
        <title>Create Project</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="contact/styles.css">
        <script src="contact/script.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Send a Ticket</h2>
            <input type="text" placeholder="Subject" id="subject"/>
            <textarea placeholder="Description" id="description"></textarea>
            <input type="text" placeholder="Personal method of contacting you" id="personal-contact">
            <button onclick="ticket()">Send</button>
        </div>
    </body>
</html>