<!DOCTYPE html>
<html>
    <head>
        <title>Create Project</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="create/styles.css">
        <script src="create/script.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Life+Savers:wght@400;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2 class="life-savers-regular">Create a Project</h2>
            <div class="horizontal-line"></div>
            <input type="text" placeholder="Title" id="title"/>
            <textarea placeholder="Description" id="description"></textarea>
            <input type="text" placeholder="Img Link" id="image">
            <ul id="skills"></ul>
            <div class="row-container">
                <input type="text" placeholder="skill" id="skill">
                <button onclick="addSkill()" class="life-savers-regular">Add</button>
            </div>
            <button onclick="create()" class="life-savers-regular">Create</button>
        </div>
    </body>
</html>