<!DOCTYPE html>
<html>
    <head>
        <title>Delete Project</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="delete/styles.css">
        <script src="delete/script.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Delete Project</h2>
            <input type="text" placeholder="Type DELETE to confirm" id="confirm">
            <button onclick="destroy()">Delete</button>
        </div>
    </body>
</html>