<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="login/styles.css">
        <script src="login/script.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>
            <input type="text" placeholder="Username" required />
            <input type="password" placeholder="Password" required />
            <button onclick="login()">Login</button>
        </div>
    </body>
</html>