<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="signup/styles.css">
        <script src="signup/script.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Sign Up</h2>
            <input type="text" placeholder="Username" required />
            <input type="password" placeholder="Password" required />
            <button onclick="signup()">Sign Up</button>
        </div>
    </body>
</html>